---
import Button from "./Button.astro";

const {type} = Astro.props;
const {scale} = Astro.props;
let bgColor = "white";
let textColor = "black";
let stroke = "black";

if (type === "light"){
  bgColor = "white";
  textColor = "black";
  stroke = "black";
}

if (type === "dark"){
  bgColor = "black";
  textColor = "white";
  stroke = "white";
}
---

<p class="button-d" style=`--colora:${textColor}; --colorb:${bgColor}; scale: ${scale}`><slot/></p>

<script>
 const button = document.querySelector(".button-d");

 const myButton = function () {
    alert("YOU'VE BEEN CLICKED!!");
 };

 button.addEventListener("click", myButton);
</script>

<style>
    .button-d{
        background-color: var(--colorb);
        color: var(--colora);
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        margin-left: 30%;
        top: 1rem;
        margin-bottom: 2rem;
        width:fit-content;
    }

    .button-d:hover{
        background-color: var(--colora);
        color: var(--colorb);
    }
</style>